@model ProjectDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-3">More about @Model.Heading</h1>

<div style="width: 100%; overflow-wrap: break-word;">
    <strong>Description:</strong>    
    @Model.Description
</div>
<br>
<blockquote>Created by @Model.ManagerName</blockquote>

<h3 class="display-3">Team</h3>
<ul>
    @foreach (var worker in Model.Workers)
    {
        <li>@worker.UserName</li>
    }
</ul>