@model IEnumerable<ProjectListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-2">Your projects</h1>
<hr/>
<div class="card-columns">
    @foreach (var project in Model)
    {
        <div class="card border-info">
            <div class="card-header">@project.Heading</div>
            <div class="card-body">
                <h5 class="card-title">@project.ManagerName</h5>
                <p class="card-text">@project.Description.Substring(0, 100)...</p>

                <a class="btn btn-outline-warning" href="/Project/Details/@project.Id">Details</a>
                @if (this.User.IsInRole("Manager"))
                {
                    <a class="btn btn-outline-danger" asp-action="Manage" asp-controller="Project">Manage</a>
                }
            </div>
        </div>
    }
</div>